:host {
    display: inline-flex;
    line-height: 0;
}

.icon {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}

.icon-badge {
    display: inline-block;
    fill: currentColor;
}

.icon-number {
    fill: white;
    font-weight: 800;
    font-size: 34px;
    paint-order: stroke;
    stroke: black;
    stroke-width: 3px;
}