@if (hasCombatants()) {
    <ul class="combatant-list">
    @for (combatant of sortedCombatants(); track combatant.id) {
        <li><div class="combatant-container"><span class="material-symbols-outlined">person</span><span>{{combatant.name}}{{combatant.id === activeCombatantId() ? ' - active' : ''}}</span></div></li>
    }
    </ul>
    <button type="button" (click)="onPreviousTurn()">Previous Turn</button>
    <button type="button" (click)="onNextTurn()">Next Turn</button>
} @else {
    <p>No combatants available.</p>
}
