@if (hasCombatants()) {
<ul class="combatant-list">
    @for (combatant of sortedCombatants(); track combatant.id) {
    <li class="combatant-row" [class.active-combatant]="combatant.id === activeCombatantId()">
        <div class="combatant-container">
            <span class="material-symbols-outlined">person</span>
            <span>{{ combatant.name }}</span>
            <app-icon name="shield" fill="red" [value]="combatant.defense.ac"></app-icon>
        </div>
    </li>
    }
</ul>
} @else {
<p>No combatants available.</p>
}

<button type="button" (click)="onPreviousTurn()" [disabled]="!hasCombatants()">Previous Turn</button>
<button type="button" (click)="onNextTurn()" [disabled]="!hasCombatants()">Next Turn</button>